# [python_requires=">=3.8"]

# [install_requires]
loguru>=0.7.0
opencv-python>=4.8.0.76
numpy>=1.21.5
pyyaml>=6.0
httpx

# [extras_require.selenium]
# selenium>=4.11.2
# undetected-chromedriver==3.5.2
# webdriver-manager==4.0.0

# [extras_require.dev]
# pytest
# black
# twine