fire~=0.4.0
loguru~=0.6.0
selenium~=4.1.0
aiohttp~=3.8.1
opencv-python~=4.5.5.62
undetected-chromedriver==3.1.5.post4
webdriver-manager>=3.5.2
scikit-image~=0.19.2
numpy==1.21.5
requests~=2.27.1
pyyaml~=6.0