# python3.10
# scikit-image~=0.19.2

fire~=0.5.0
sanic~=23.6.0

loguru>=0.7.0
selenium>=4.11.2
aiohttp>=3.8.5
opencv-python>=4.8.0.76
undetected-chromedriver==3.5.2
webdriver-manager==3.8.2
numpy>=1.21.5
requests>=2.31.1
pyyaml>=6.0
httpx